/* Global Elements */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-top: 0;
}

p {
    line-height: 1.6;
}

/* Header */
header {
    background: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/* Main Section */
.main {
    text-align: center;
    padding: 2rem;
}

.main .intro img {
    max-width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

.social-media-icons {
    text-align: center;
    padding: 1rem;
}

.social-media-icons a {
    margin: 0 10px;
    color: #333; /* Icon color */
    font-size: 24px; /* Icon size */
    transition: color 0.3s;
}

.social-media-icons a:hover {
    color: #007bff; /* Icon hover color */
}

/* Portfolio Section */
.portfolio {
    /* other styles... */
}

/* Container for the CV link */
.cv-link {
    display: flex;
    justify-content: center; /* This centers it horizontally */
    align-items: center; /* This centers it vertically if needed */
    height: 100px; /* Adjust the height as needed */
}

/* Button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px; /* Adjust or remove as needed */
    background-color: #007bff; /* Or your existing button color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3; /* Or a darker shade of your existing button color */
}